# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# This .gitignore file is configured to ignore all files and folders inside the 'frontend' directory.
# Each file and folder path is explicitly listed to ensure they are ignored by Git.

# Ignoring all files and folders in the 'frontend' directory

# Ignoring the 'public' folder and its contents



# Ignoring the 'src' folder and its contents




# Ignoring the 'Pages' folder and its contents





# Ignoring the 'services' folder and its contents
src/services/
src/services/apiConnector.js
src/services/apis.js
src/services/operations/
src/services/operations/authAPI.js
src/services/operations/communityApi.js
src/services/operations/profileAPI.js

# Ignoring the 'slices' folder and its contents
src/slices/
src/slices/authSlice.js
src/slices/communitySlice.js
src/slices/profileSlice.js

# Ignoring the 'utils' folder and its contents
src/utils/
/src/utils/constants.jsx



